.App {
  font-size: calc(16px + 2vmin);
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
}
label {
  display: block;
}

h1 {
  display: inline;

  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #7f5a83;

  font-size: calc(28px + (28 - 18) * ((100vw - 500px) / (1600 - 300)));
}
h2 {
  display: inline;

  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #7f5a83;

  font-size: calc(18px + (18 - 12) * ((100vw - 500px) / (1600 - 300)));
}
input {
  border-radius: 8px;
  height: 2.5vw;
  border: none;
  width: 48vw;
  background-color: #9da2ab;
  color: #0d324d;
  font-size: calc(10px + (10 + 2) * ((100vw - 300px) / (1600 - 300)));
  padding-left: 1vw;
}
.modalInput {
  width: 39vw;
}
.modalDeleteInput {
  width: 20vw;
  font-size: calc(10px + (10 + 2) * ((100vw - 300px) / (1600 - 300)));
}
.submit {
  border-radius: 8px;
  height: 2.5vw;
  border: none;
  width: 9vw;
  margin-left: 1vw;
  background-color: black;
  color: #9da2ab;
  font-size: calc(5px + (8 + 8) * ((100vw - 300px) / (1600 - 300)));
}
button {
  border-radius: 8px;
  height: 3vw;
  border: none;
  width: 9vw;
  margin-left: 1vw;
  background-color: black;
  color: #9da2ab;
  font-size: calc(6px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
}
.navbar {
  display: grid;
  grid-template-columns: repeat(2 auto);
  background: black;
  width: 100%;
  position: sticky;
  top: 0;
}
.navLinksWrapper {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  grid-column: 2 / span 1;
  background-color: black;
}

.navLinksWrapper a {
  margin-right: 40px;
}
.navItems {
  color: #9da2ab;
  font-size: calc(5px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
}

input:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
button:focus {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
.checkbox {
  width: 1.5vw;
  height: 1.5vw;
  outline: 0.1vw solid black !important;
  word-wrap: break-word;
}
li {
  padding: 15px;
  font-size: 2.5vw;
  margin-bottom: 15px;
  background: #7f5a83;
  border-radius: 8px;
  overflow-wrap: break-word;

  color: #0d324d;
}

.showModal {
  display: block;
}
.hideModal {
  display: none;
}
.showModalDelete {
  width: 40vw;
  display: block;
  padding: 16px 20px 22px 20px;
  background-color: black;
  color: whitesmoke;
  position: absolute;
  top: 100%;
  left: 54%;
}
.hideModalDelete {
  display: none;
}

.displayFlash {
  display: inline;
  background-color: rgb(209, 80, 80);
  border-radius: 8px;
  margin-left: 1.2vw;
  font-size: calc(5px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
  color: black;
  padding: 1vw;
}
.displayFlashSuccess {
  display: inline;
  background-color: green;
  border-radius: 8px;
  margin-left: 1.2vw;
  font-size: calc(5px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
  color: black;
  padding: 1vw;
}
.hideFlash {
  display: none;
}
.date {
  margin-top: 5px;
  font-size: calc(8px + 0.1vmin);
  color: #9da2ab;
  width: 60vw;
}
.showInput {
  display: block;
}
.hideInput {
  display: none;
}
.dropDownMenu {
  min-width: 12px;
  padding: 8px;
  position: absolute;
  top: 3vw;
  right: 1vw;
  z-index: 3;
  background-color: black;
  border-radius: 8px;
}
.listButtons {
  display: block;
  margin: 10px;
  padding: 2px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: #9da2ab;
  font-size: calc(2px + (2 + 14) * ((100vw - 200px) / (1600 - 300)));
}
.menuWrapper {
  border-radius: 8px;
}
.dropDownButton {
  margin: 0 15px 0 0;
  vertical-align: bottom;
  background-color: black;
  color: #9da2ab;
  cursor: pointer;
  font-size: calc(5px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
}
.dropDownButtonHidden {
  display: none;
}
a:hover,
.dropDownButton:hover {
  opacity: 0.8;
}
.accDeleteButton {
  display: inline;
  margin: 0 0 0 2px;
  padding: 2px;
  border-radius: 8px;
  border: none;
  background-color: #7f5a83;
  color: whitesmoke;
  font-size: calc(2px + (2 + 14) * ((100vw - 200px) / (1600 - 300)));
}
#icon1:hover {
  cursor: pointer;
}
#icon1 {
  float: right;
}
#icon2 {
  float: right;
}
#icon2:hover {
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}
footer p {
  color: whitesmoke;
  margin: 0;
  font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}
/***********************Animations**************************/

.slideIn {
  animation: slideIn 0.5s;
}
@keyframes slideIn {
  0% {
    position: relative;
    left: -1000px;
  }
  100% {
    position: relative;
    left: 0;
  }
}

.dashboardTitle {
  text-align: center;
  animation: slideDown 0.3s;
}
@keyframes slideDown {
  0% {
    position: relative;
    top: -1000px;
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    position: relative;
    top: 0;
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: calc(20px + (20 - 18) * ((100vw - 500px) / (1600 - 300)));
  }
  .navItems {
    font-size: calc(10px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
  }
  .dropDownButton {
    font-size: calc(10px + (8 + 8) * ((100vw - 200px) / (1600 - 300)));
  }
  li {
    font-size: 3.5vw;
  }
  input {
    width: 45vw;
  }
  .listButtons {
    background-color: black;
    font-size: calc(4px + (4 + 6) * ((100vw - 200px) / (1600 - 300)));
  }
  .accDeleteButton {
    display: inline;
    margin: 0 0 0 2px;
    padding: 2px;
    border-radius: 8px;
    border: none;
    background-color: #7f5a83;
    color: whitesmoke;
    font-size: calc(2px + (2 + 14) * ((100vw - 200px) / (1600 - 300)));
  }
  .showModalDelete {
    width: 40vw;
    display: block;
    padding: 10px 30px 10px 10px;
    background-color: black;
    color: whitesmoke;
    position: absolute;
    top: 100%;
    left: 55%;
  }
  .modalDeleteInput {
    width: 18vw;
    font-size: calc(8px + (8 + 2) * ((100vw - 300px) / (1600 - 300)));
  }
}
